body { font-family: Helvetica, Arial, sans-serif; background: #b35883 url(../images/bg.jpg) repeat top left; font-size: 15px; color: white; }

h2 { font-size: 38px; font-weight: 300; margin-bottom: 10px; padding-top: 10px; text-shadow: 0px 0px 7px #884363; }
h3 { font-size: 22px; font-weight: 300; margin-bottom: 10px; margin-top: 10px; text-shadow: 0px 0px 7px #884363; }
h4 { font-size: 17px; margin-top: 20px; }
h5 { font-size: 12px; }

.container_12 { width: 920px; margin: 0 auto; }

a { color: white; font-weight: bold; text-decoration:none; }
img { display: block; margin: 0 auto; }
.chunk { font-size: 22px; font-weight: 300; }
.green { color: #c4d201; }

.arrow { background: transparent url(../images/link_arrow.png) no-repeat right 4px; padding-right: 15px; }
.divider { height: 6px; background: transparent url(../images/bullet_white.png) repeat-x top left; margin: 100px 0 20px;}
.big_top_margin { margin-top: 40px; }
.margin { margin: 0 20px; padding: 20px 0; position: relative; }
.fluid-no-effect { width: 960px; margin: 0 auto; }

/* NAVIGATION */
#header { height: 85px; background: transparent url(../images/nav_bg.png) repeat-x bottom left; position:fixed; z-index: 999; top: -2px; left: 0px; width: 101%; }
#nav_container { height: 85px; overflow: hidden; position: relative; }

#logo { position: absolute; top: 30px; left: 0px; width: 129px; }
#big_r { float: left; width:270px; }

#navigation { position: relative; top: 42px; margin-left: 129px; }
#navigation ul li { float: left; }
#navigation ul li a { background: transparent url(../images/bullet_white.png) no-repeat left 6px; padding-left: 20px; margin-left: 14px; }

#navigation ul li a.green { color: #c4d201; font-size: 14px; }
#navigation ul li a.pink-bullet { background: transparent url(../images/bullet_pink.png) no-repeat left 6px; }
#navigation ul li a.green.pink-bullet { padding-left: 15px; margin-left: 9px; }

.no-js #navigation ul li a,.no-js #navigation ul li a.green { font-size: 13px; }

#navigation select { display: none; position: relative; top: -4px; z-index: 999; }

/* PAGES */
#page-1 {  }
	.boxes .box { width: 31.9%; margin-right: 2%; float: left;}
		.boxes .box .content { background: #a04470; height: 200px; }
		#blog.box { margin-right: 0%; }
		
			#twitter a { color: #c4d201; }
			#tweet { padding-bottom: 20px; margin-bottom: 10px; border-bottom: 1px solid #b36a8d; line-height: 20px; }
			#twitter_stats { margin-right: 10px; }
				#twitter_stats li { float: left; padding-right:10px; margin-right: 10px; border-right: 1px solid #b36a8d; text-align: right; }
				#twitter_stats li.last { border-right: none; }
					#twitter_stats li h5 { padding-bottom: 3px; }
				#stat1,#stat2,#stat3 { font-size: 24px; }
				
			#blog {  }
				#blog h4 { margin-top: 0px; margin-right: 20px; line-height: 19px; font-size: 15px; }
				#blog .blog_entry { background: transparent url(../images/blog_arrow_right.png) no-repeat right center; }
					#blog .blog_entry .image { height: 60px; width: 60px; background: #e5c9d8; float: left; margin-right: 10px; }	
				#blog .divider { background: #b36a8d; height: 1px; line-height: 1px; margin: 15px 0; }
				
			#stats {  }
				#stats .sidebar { position:absolute; left: 0px; top: 20px; width: 2px; background: white; margin-right: 3px; height: 160px; }
				#stats .stat { height: 33px; background: transparent url(../images/stat_bar.png) no-repeat top right; margin-top: 5px; margin-left: 7px;}
					#stats .stat p { font-size: 11px; font-weight: bold; position: relative; left: 12px; top: 11px; }

#page-1,#page-2,#page-3,#page-4,#page-5,#page-6,#page-7,#page-8 { text-align: center; padding: 30px 0 60px; overflow: hidden}
#page-1 { text-align: left; padding-top: 160px; }
#page-2 p,#page-3 p,#page-4 p,#page-5 p,#page-6 p,#page-7 p,#page-8 p { padding-bottom: 10px; width: 780px; margin: 0 auto; }

#page-2 { background: url(../images/backgrounds/whatwedo-bg.jpg) repeat scroll 50% 0 #928d38; }
#page-3 { background: url(../images/backgrounds/searchanalytics-bg.jpg) repeat scroll 50% 0 #627239; }
#page-4 { background: url(../images/backgrounds/digital.jpg) repeat scroll 50% 0 #1b7e91; }
#page-5 { background: url(../images/backgrounds/social-bg.jpg) repeat scroll 50% 0 #949a4e; }
#page-6 { background: url(../images/backgrounds/web.jpg) repeat scroll 50% 0 #80744d; }
#page-7 { background: url(../images/backgrounds/credentials-bg.jpg) repeat scroll 50% 0 black; }
#page-8 { background: url(../images/backgrounds/contact.jpg) repeat scroll 50% 0 white; color: black; }
	#page-8 a { color: #cf4693; }

@media screen and (max-width:960px){
	
	#page-2,#page-3,#page-4,#page-5,#page-6,#page-7,#page-8 { text-align: left; }
	#navigation ul { display: none; }	
	#navigation select { display: block; width: 95%; margin-left: 5%; }	
	.container_12 {
		width: 92%;
		margin-left: 4%;
		margin-right: 4%;
	}
}

@media screen and (max-width:935px){
	.boxes .box { width: 49%; }
	.boxes .box.middle { margin-right: 0; }
	.boxes .box.last { width: 100%; margin: 0; margin-top: 10px; }
	#stats .stat p { font-size: 13px; top: 9px; }
}

@media screen and (max-width: 919px){
	img { width: 100%; }
	img#iapi { width:auto; }
	#page-2 p,#page-3 p,#page-4 p,#page-5 p,#page-6 p,#page-7 p,#page-8 p { width: 100%; }
	#page-8 p { width: 80%; }
	#page-8 a { color: #cf4693; }
}

@media screen and (max-width:870px){
	#big_r { width: 140px; }
	.divider { margin-top: 40px; }
	#page-1 { padding-top: 110px; }
	h2 { font-size: 22px; }
	.title img,.bottom .image { width: 150%; position: relative; left: -25%; }
	.title img { margin-bottom: 5px; }
}

@media screen and (max-width:575px){
	.boxes .box { width: 100%; margin: 0; }
	.boxes .box .content { height: auto; }
	.boxes .box.middle,.boxes .box.last { margin-top: 10px; }
	#stats .stat p { font-size: 11px; top: 11px; }
	#big_r { display: none; }
	h4 { font-size: 15.5px; }
	#page-1 { padding-top: 90px; }
}

@media screen and (max-height:350px) {
	#header,#nav_container { height: 50px; }
	#logo { top: 8px; }
	#navigation { top: 19px; }
	#page-1 { padding-top: 60px; }
}

.loading img,#logo a img { width: auto; }

#jobioBtn{
	display: inline;
	width: auto;
	height: auto;
}
