[+as.showInfo:is=`1`:then=`
  <p class="ajaxSearch_resultsInfo">[+as.resultInfoText+]</p>
`+]
[+as.noResults:is=`1`:then=`
  <div class="[+as.noResultClass+]">
    [+as.noResultText+]
  </div>
`:else=`
[+as.listResults+]
`+]
[+as.moreResults:is=`1`:then=`
  <div class="[+as.moreClass+]">
    <a href="[+as.moreLink+]" title="[+as.moreTitle+]">[+as.moreText+]</a>
  </div>
`+]