[+as.noResults:is=`1`:then=`
  <div class="[+as.noResultClass+]">
    [+as.noResultText+]
  </div>
`:else=`
  <p class="ajaxSearch_resultsInfo">[+as.resultInfoText+]</p>
  [+as.paging+]
  [+as.listResults+]
  [+as.paging+]
`+]