body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #1D1D1B; }

h1 { display:none; }
h2 { text-transform:uppercase; margin-bottom: 8px; }
h3 { font-size: 24px; margin-bottom: 16px; font-weight: normal; }
h4 {  }

a { color: white; text-decoration:none; }
a:hover { }

p { padding-bottom: 20px; font-size: 16px; line-height: 25px; }

.separator { margin: 30px 0; line-height: 1px; background-color: #e5e5e5; height: 1px; width: 100%; }
.separator.half { margin: 15px 0; }
.separator.dashed { border-bottom: 1px dashed #e5e5e5; background: none; margin: 8px 0 20px; }
.separator.half.dashed { margin: 15px 0; border-bottom: 1px dashed #e5e5e5; background: none; }
.assistive-text,.wp-caption-text { display: none; }

.pink { color: #e4007d; }
.dark { color: #1D1D1B; }
.grey { color: #AFCB08; }
.green { color: #AFCB08; }

.small { font-size: 12px; }
.medium { font-size: 14px; }
.large { font-size: 16px; line-height: 25px; }

#header_wrapper { background-color: #AFCB08; margin-bottom: 32px; }
#header { color:white; position: relative; }
		.nav_height { height: 100px; }
		#logo { background: transparent url(../images/logo.png) no-repeat bottom left; }
		#navigation { text-transform:uppercase; position: absolute; bottom: 0px; left: 0px; }
			#navigation li { float: left; margin-right: 5px; margin-bottom: 5px; }
			#navigation li a { font-weight: bold; padding: 5px 10px; background-color: #e4007d; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;}
			#navigation li.current-menu-item a, #navigation li.current-menu-item a:hover { background-color: #fff; color: #1D1D1B; }	
			#navigation li a:hover { background-color: #1D1D1B; color: white; }
		
#container {  }
	
	#sidebar {  }
		.section { margin-right: 20px; }
		.disc { list-style: disc; margin-left: 20px; line-height: 20px;}
		
		#search {  }
			#search .content { background: transparent url(../images/search_bg.jpg) no-repeat top left; position: relative; height: 42px; }
			#search .content .input { width:150px; height:30px; border: none; background: none; padding-left: 8px; }
			#search .content .submit { width: 42px; height: 32px; cursor:pointer; position: absolute; top: 0px; right: 0px; }
		
		#tags { list-style: none; margin: 0; }
			#tags li { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; float: left; background-color: #a9abb5; color: white; padding: 4px 8px; margin: 0 2px 2px 0; }
		
		#archive {  }
			#archive ul { margin-bottom: 10px; }
			#archive ul li a { color: #1D1D1B; }
		
	#main {  }
		#post_list {  }
			#post_list .page-header h2 span { font-weight: normal; }
		
			.post {  }
			.image { height: 160px; background-color: #CCC; }
				.image img { margin: 8px; }
			h3 a { color: #1D1D1B; }
				h3 a:hover { text-decoration: underline; }
			.post_info {  }
				.post_info li { float: left; }
				.post_info .author,.post_info .date { margin-right:20px; }
				.post_info .author,.post_info .date,.post_info .comments { padding-left: 25px; }
					.post_info .author { background: transparent url(../images/info_author.jpg) no-repeat top left; }
					.post_info .date { background: transparent url(../images/info_date.jpg) no-repeat top left; }
					.post_info .comments { background: transparent url(../images/info_comments.jpg) no-repeat top left; }
			.post p a { color: #e4007d; }
			.post p a:hover { border-bottom: 1px solid #e4007d; }
				.post a.readmore { color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #a9abb5; color: white; padding: 0px 8px 4px; margin: 5px 2px 2px 0; }
				.post a:hover.readmore { border: none; }
			.post iframe { display:block; margin: 10px 0; }
			
			#post_content,#post_content p, #post_content li { font-size: 15px; line-height: 18px; padding: 0px; margin: 0px;  }
			#post_content p, #post_content ul { padding-bottom: 15px; }
			#post_content p, #post_content ul, #post_content ol {  }
			#post_content ul li { margin-left: 25px; list-style:disc; }
			#post_content ol li { margin-left: 25px; list-style:decimal; }
			#post_content a { color: #E4007D; }
			
			#nav-below .nav-previous a, #nav-below .nav-next a { color: #1d1d1a; }
			#nav-below .nav-previous { float: left; }
			#nav-below .nav-next { float: right; }
			
#footer { width: 100%; }