@charset "UTF-8";

p { line-height:16px; margin-bottom:10px; color:#333333;}
a { text-decoration:none; color:#C3000A; }
a:hover { text-decoration: underline; color:#C3000A; }
h1 { font-family:"Myriad Pro", Arial, Verdana, sans-serif; font-size:17px; margin-bottom: 10px; color:#C3000A; }
h2 { font-family:"Myriad Pro", Arial, Verdana, sans-serif; font-size:15px; margin-bottom: 10px; color:#C3000A; }
h3 { font-family:"Myriad Pro", Arial, Verdana, sans-serif; font-size:13px; margin-bottom: 10px; color:#C3000A; }

h2 { margin: 10px 0px 10px 0px; }

#wrapper {
position:fixed;
	background-image: url(../images/wrapper.jpg);
	background-repeat: repeat-y;
	text-align: left;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
#masthead {

	background-image: url(../images/masthead.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 500px;
}
body {	text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; }

#container {
	padding-right: 120px;
	padding-left: 120px;
}
#contentleft {
	width: 600px;
	padding-right: 20px;
	padding-left: 20px;
	float: left;
}
#contentright {
	float: left;
	width: 280px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 120px;
}
#footer {
	clear: both;
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	width: 960px;
	text-align: left;
	height: 50px;
	background-position: bottom;
	margin-left: auto;
	margin-right: auto;
	padding-left: 120px;
	padding-right: 120px;
}
#clearfix {
	clear: both;
}
#contentleft .header_radicalteam {
	margin-top: 30px;
	margin-bottom: 10px;
}
#videoreel {
	background-image: url(../images/videowindow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}
#maincontent {
	margin-top: 10px;
	margin-bottom: 10px;
}

#cuber { height:340px; background-image:url(../images/cube_shadow.jpg); background-repeat:no-repeat; background-position:bottom; }