@charset "UTF-8";
/* CSS Document */

.container { font: 100%/1.4 Arial, Helvetica, sans-serif; color: #000; width: 520px; background: #105295; margin: 0 auto; }
ul, ol, dl { padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6, p { margin-top: 0; padding-right: 15px; padding-left: 15px; }
a img { border: none; }
a:link { color: #105295; text-decoration: none; font-size:13px; }
a:hover, a:active, a:focus { text-decoration: none; }
.header { background:url(http://www.radical.ie/clients/bordgais/BG_FB_Tab_header.jpg) no-repeat top left; background-color:#FFF; }
.content { padding:0; margin:0; background-color:#105295; }
a.btn { width:175px; height:60px; padding:8px 25px 50px 25px; background:url(http://www.radical.ie/clients/bordgais/BG_FB_Tab_btn.png) no-repeat; color:#FFF; font-weight:bold; font-size:15px; }
.link { height:40px; }
.url { color:#105295; text-decoration:none; }
.product { width:520px; display:block; }
.footer { background: #105295; }
