<table width="800" height="1446" border="0" cellpadding="0" cellspacing="0" style="font-family:Verdana, Geneva, sans-serif; margin:0px; padding:0px;">
<table width="800" height="24" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="800" height="24" colspan="3">
</td></tr><tr><td width="800" height="24"></td></tr>


  <tr>
    <td><table width="800" height="111" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="53" height="111"><img src="http://www.radical.ie/assets/files/anpost_email072010/images/emailer_01.png" width="53" height="111"></td>
          <td width="747" height="111" colspan="2"><a href="http://www.shoppingdirectory.ie"><img src="http://www.radical.ie/assets/files/anpost_email072010/images/emailer_02.png" width="747" height="111" border="0"></a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="800" height="287" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="800" height="287" colspan="3"><a href="http://www.shoppingdirectory.ie/user_view.php"><img src="http://www.radical.ie/assets/files/anpost_email072010/images/emailer_03.jpg" width="800" height="287" border="0"></a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="800" height="268" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
          <td width="53" height="268"><img src="http://www.radical.ie/assets/files/anpost_email072010/images/emailer_04.png" width="53" height="268"></td>
          <td width="747" height="268" colspan="2"><h6 style="font-weight:bold; font-size:25px; color:#018d44;font-family:Verdana, Geneva, sans-serif;">Back To School - Upload Your Promotions Now</h6>
            <p style="font-family:Verdana, Geneva, sans-serif;color:000; font-size:13px; line-height:24px; margin-right:60px; ">It's back to school time for families all over Ireland and Mums and Dads everywhere are looking for special offers. With this in mind, <a href="http://shoppingdirectory.ie">anpost.ie/onlineshopping</a> are dedicating a special section of our homepage to Back to School offers. <br><br>

<strong>Increase your sales by <a href="http://www.shoppingdirectory.ie/user_view.php">uploading your promotion</a> today and leave us do the rest.</strong> <br><br>

<a href="http://www.shoppingdirectory.ie/user_view.php"><img src="http://radical.ie/clients/anpost/CONSUMERemailer_BTN.png" border=0></a>
<br><br>

Kind regards,<br><br>

The An Post Online Shopping Directory Team<br><br>

P.S. Thanks for your continued participation in anpost.ie/onlineshopping. We're delighted to let you know that to date we have had over 200,000 click throughs to our retailer's sites since the launch of the directory. <br><br>



     
        
       
As always, if you have any thoughts or suggestions, we'd love to hear from you; simply email us at <a href="mailto:onlineshopping@anpost.ie" style="text-decoration:none;color:#018d44; cursor:pointer; ">onlineshopping@anpost.ie</a> <br>
              <br>
              Bye for now!<br>
              The An Post Online Shopping Directory Team <br><br></p>              
              </td>
        </tr>
      </table></td>
  </tr>
</table></table><center><table width="95%" style="clear:both;margin:0px !important;padding:0px !important;margin-top:20px !important;border-top:1px solid #999 !important;border-bottom:1px solid #999 !important;" cellpadding="0" cellspacing="0"><tr>
    <td align="left" style="padding:10px !important;margin:0px !important;color:#666 !important;background:#CCC !important;width:50% !important;border-bottom 1px solid #999 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:middle !important;text-align:left !important;">
        Sent to *|EMAIL|*.  <a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#03C !important;">Unsubscribe</a> |
       
    </td>

    
</tr></table></center>