<div id="tweet"></div>
<div id="twitter_stats">
    <ul>
        <li>
            <h5>Tweets</h5>
            <div id="stat1"></div>
        </li>
        <li>
            <h5>Followers</h5>
            <div id="stat2"></div>
        </li>
        <li>
            <h5>Following</h5>
            <div id="stat3"></div>
        </li>
    </ul>
</div>