/*  
Theme Name: Vesper
Theme URI: http://valendesigns.com/free-vesper-theme-for-wordpress
Description: Vesper is a 2 column Wordpress theme with subpage support. This work is distributed under the terms of the GNU General Public License. This means you are free to use this template for any purpose, and make changes as you see fit. Please leave the link in the footer, or donate if you would like to remove it.
Copyright: 2008
Version: 1.0.6
Author: <a href="http://www.valendesigns.com">Derek Herman</a> 
Tags: fixed width, simple, clean, widget ready, two columns, sidebar right, orange, valid XHTML, valid CSS, ie6, ie7, firefox 2.0, opera 9.0, wp-pagenavi, excerpt reloaded
*/

/* GLOBAL SITE ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	margin:  6px 0 0;
	font: normal 80%/160% verdana, arial, verdana, san-serif;
	background: #fff url(images/bg.png) repeat-x;
}
li {
	list-style: none;
}
hr {
	clear: both;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	visibility: hidden;
	margin: 0;
	padding: 0;
}
/* HEADINGS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h1, h2, h3, h4, h5 {
	font-family: 'Myriad Pro', verdana, times, serif;
	font-weight: normal;
}
/* MOD by Justin, A little bit too big, want to fit our logo in ;) */
h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.3em;
}
/* LINKS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #84755c;
}
/* MAIN SITE ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#wrapper {
	position: relative;
	width: 860px;
	padding: 0 10px;
	margin: 0 auto;
}
#wrapper:after, #header:after, .post:after, .post-date:after {
	content:  ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#header {
	position: relative;
	height: 120px;
	margin-bottom: 10px;
}
#content {
	width: 550px;
	float: left;
	min-height: 455px;
	padding: 35px 25px 20px 0;
	background: url(images/content-bg.gif) no-repeat top right;
}
#sidebar {
	width: 240px;
	min-height: 455px;
	float: right;
	padding: 20px;
	padding-top: 35px;
	background: url(images/content-bg.gif) no-repeat top right;
}
/* HEADER ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#site-meta {
	position: absolute;
	left: 0;
	top: 30px;
}
#header h1 {
	position: relative;
}
#header h1 a {
	color:#FFFFFF;

}
#header h1 a:hover {
	color: #5a360b;
	color: #7e4c10;
}
#header span.description {
	position: relative;
	margin-left: 5px;
	color: #FFFFFF;
}
#header ul {
	position: absolute;
	left: 0;
	bottom: 1px;
	font: 13px Verdana, "Myriad Pro", Times New Roman, Times, serif;
	list-style: none;
	margin-top: -6px;
	padding: 0;
	text-transform: none;
}
#header li {
	display: inline;
}
#header li a {
	float: left;
	display: block;
	padding: 8px 14px 8px 14px;
	color: #84755c;
	text-decoration: none;
	margin-right: 2px;
	background:#fff;
	border: 1px solid #f7951e;
	border-bottom: none;
}
#header li a:hover {
	color: #f7951e;
	background-color:#fff;
	border: 1px solid #f7951e;
	border-bottom: none;
}
#header li.current_page_item a {
	color: #3E1403;
	background-color:#FFF;
	border: 1px solid #f7951e;
	border-bottom: none;
}
#topsearch {
	position: absolute;
	right: 14px;
	top: 35px;
	width: 218px;
	height: 42px;
	text-align: center;
}
#topsearch input {
	width: 145px;
	height: 21px;
	background: url(images/input.gif) no-repeat;
	border: none;
	padding: 9px 8px 5px 32px;
	margin-right: 0px;
	float: left;
	font: normal 1em tahoma, arial, san-serif;
}
#topsearch button {
	width: 33px;
	height: 35px;
	background: url(images/search.gif) no-repeat;
	border: none;
	text-indent: -9999px;
	float: right;
	cursor: pointer;
}
/* POST SECTION ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.post {
	margin: 0 0 20px 0;
	background: url(images/hr.gif) 0% 100% no-repeat;
	padding: 0 0 10px 0;
}
.post h2 {
	margin: 0 0 .2em;
	font-size: 1.6em;
}
.post h2 a {
	color: #C4001D;
}
.post h2 a:hover {
	color: #84755c;
}
.post-info {
	background: url(images/hr.gif) 0% 0% no-repeat;
	padding: 5px 0;
	font-size: 90%;
	margin: 10px 0;
	color: #999;
}
.post-info a {
	color: #999;
}
.post-info a:hover {
	color: #84755c;
}
.post-info .setting {
	padding:3px;
	padding-left:20px;
	margin-right: 5px;
}
.post-info .datetime{
	background:#fff url(images/clock.png) no-repeat 0 2px;
}
.post-info .user{
	background:#fff url(images/user.png) no-repeat 0 2px;
}
.post-info .filedlink{
	background:#fff url(images/document.png) no-repeat 0 2px;
}
.post-info .commentslink{
	background:#fff url(images/comments.png) no-repeat 0 2px;
}
.post-info .editlink{
	background:#fff url(images/write.png) no-repeat 0 2px;
}
.post-entry p {
	margin: 0 0 1em 0;
}
.post-entry a {
	color: #4f6373;
}
.post-entry a:hover {
	color: #84755c;
}
.post-entry span.more-link {
	display: block;
	margin: 10px 0;
}
.post-entry span.more-link a {
	color: #864901;
}
.post-entry span.more-link a:hover {
	color: #84755c;
}
.post-entry h3 {
	font-size: 1.25em;
	padding: 0 0 .5em;
	margin: 0 0 .5em;
	border-bottom: 1px solid #f5f5f5;
}
.post-entry ul, .post-entry ol {
	margin: 0 0 1em;
}
.post-entry ul {
	margin-left: 1.5em;
}
.post-entry ul li, .post-entry ol li {
	list-style: square;
	border-bottom: 1px solid #fafafa;
	padding: .2em 0;
}
.post-entry ol {
	margin-left: 2em;
}
.post-entry ol li {
	list-style: decimal;
}
.post-entry blockquote {
	margin: 1.5em;
	padding: 1em;
	color: #999;
	font-style: italic;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	clear: both;
}
.post-entry img {
	float: left;
	margin: .4em 0 0 1em;
	padding: 0 10px 10px 0;
}
.post-entry img.align-right {
	float: right;
	margin: .4em 0 0 1em;
	padding: 0 0 10px 10px;
}
.post-entry img.align-left {
	float: left;
	margin: .4em 1em 0 0;
	padding: 0 10px 10px 0;
}
.post-entry img.align-center {
	display: block;
	margin: .4em auto;
	padding: 0 10px 10px 10px;
}
.post-meta {
	font-size: 95%;
	color: #999;
}
.post-meta a {
	color: #999;
}
.post-meta a:hover {
	color: #84755c;
}
.post-arch-info {
	font-size: 95%;
	color: #999;
	margin: 0 0 2em;
	padding: 0 0 1em;
	border-bottom: 1px solid #f5f5f5;
}
.wp-pagenavi {
	font-size: 11px;
	text-transform: uppercase;
	clear: both;
	color: #555;
	padding: 0;
	text-align: right;
}
.wp-pagenavi a, .wp-pagenavi .current {
	padding: 3px 7px;
	border: 1px solid #ccc;
	color: #f7951e;
	margin-left: 1px;
	font-weight: normal;
}
.wp-pagenavi a:hover, .wp-pagenavi .current {
	color: #555;
	background: #e2e2e2;
	font-weight: normal;
}
.wp-pagenavi .pages {
	float: left;
	line-height: 13px;
}

/* WP 2.6 REQUIRED ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

/* COMMENT ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#comments h2, #respond h2 {
	margin: 0 0 .5em;
	padding: 0 0 .5em;
	border-bottom: 1px solid #f5f5f5;
}
#comments {
	margin: 0 0 1em;
	background: url(images/hr.gif) 0% 100% no-repeat;
	padding: 0 0 1em;
}
#comments h3 {
	font-size: 1.2em;
}
#comments img {
	float: left;
	margin: 0 5px 5px 0;
}
#comments p {
	padding-left: 40px;
}
.commentlist li {
	margin: 0 0 .5em;
	padding: 0 0 .5em;
	border-bottom: 1px solid #f5f5f5;
}
#respond input, #respond textarea {
	width: 542px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #ccc;
	padding: 3px;
	margin: .1em 0 .5em;
}
#respond button {
	width: 75px;
	height: 35px;
	text-indent: -9999px;
	border: none;
	float: left;
	cursor: pointer;
}
#respond button#submit {
	background: url(images/submit.png) no-repeat;
	margin-right: 10px;
}
#respond button#reset {
	background: url(images/reset.png) no-repeat;
}
/* SIDEBAR ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#sidebar h2 {
	margin: 0 5px 0 0;
	padding: 0 0 .5em 0;
	border-bottom: 1px dotted #ccc;
	font-size: 20px;
	text-indent: -5px;
}
#sidebar li ul {
	margin: 0 0 2em 0;
}
#sidebar li ul li {
	border-bottom: 1px dotted #ccc;
	padding: 3px 0;
	padding-left: 18px;
	margin-right: 5px;
	background: #fff url(images/sidebar-li.gif) no-repeat 0 6px;
}
#sidebar li ul li:hover {
	background: #e8e8e8 url(images/sidebar-li.gif) no-repeat 0 6px;
}
#sidebar li ul li.current_page_item {
	padding-left: 8px;
	padding-right: 10px;
	background: #e8e8e8;
}
#sidebar li ul li.current_page_item a {
	color: #84755c;
}
#sidebar li ul li ul li, #sidebar li ul li ul {
	display: none;
}
#sidebar li ul li {
	color: #222;
}
#sidebar li a {
	color: #555;
}
#sidebar li a:hover {
	color: #84755c;
}
#calendar  {
	margin-top: 10px;
	border-bottom: 1px dotted #ccc;
}
#wp-calendar {
	width: 90%;
	margin-left: 5%;
}
#wp-calendar caption {
	color: #864901;
	margin-top: 5px;
}
/* FOOTER ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#footer_wrap {
	position: relative;
	clear: both;
	background: #808080 url(images/footer.png) repeat-x;
	text-align: center;
	padding: 20px 0 20px 0;
	color: #eee;
	margin-top: 20px;
}
#footer {
	position: relative;
	clear: both;
	text-align: left;
	font-size: 11px;
	width: 860px;
	padding: 0 10px;
	margin: 0 auto;
}
#footer a {
	color: #eee;
}
#footer a:hover {
	color: #f7951e;
}
#rss {
	position: absolute;
	right: 20px;
	bottom: 0;
	margin: 0;
}
#rss-entries {
	background: url(images/rss-entries.png) no-repeat 0 0;
	border: none;
	float: left;
	height: 18px;
	margin: 0 4px 0 0;
	padding: 0;
	text-decoration: none;
	text-indent: -3000px;
	width: 46px;
}
#rss-entries:hover {
	background: url(images/rss-entries.png) no-repeat 0 -18px;
}
#rss-comments {
	background: url(images/rss-comments.png) no-repeat 0 0;
	border: none;
	float: left;
	height: 18px;
	margin: 0 4px 0 0;
	padding: 0;
	text-decoration: none;
	text-indent: -3000px;
	width: 46px;
}
#rss-comments:hover {
	background: url(images/rss-comments.png) no-repeat 0 -18px;
}

/* JUSTIN LOGO
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#ir_logo { margin-left:355px; margin-top:2px; border:0px; }
