/* CSS Document */

body { font-family:Arial,Helvetica,sans-serif; font-size:15px;line-height:21px; color:#FFFFFF; }
#wrapper { width:800px; margin:0px auto; background-color:#ec008c; padding:0px; }
#left_column { float:left; width:315px; }
#right_column { float:left; width:485px; }
.inside { padding-right:45px; padding-left:5px; }

h2 { font-size:20px; font-weight:bold; }
ul { margin-left:0px; padding-left:14px; }



.clear { clear:both; }