/*
CSS for the demo: Recreating the Nikebetterworld.com Parallax Demo
Demo: Recreating the Nikebetterworld.com Parallax Demo
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Demo URL: http://www.ianlunn.co.uk/demos/recreate-nikebetterworld-parallax/
Tutorial URL: http://www.ianlunn.co.uk/blog/code-tutorials/recreate-nikebetterworld-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.

Dual licensed under the MIT and GPL licenses:
http://www.opensource.org/licenses/mit-license.php
http://www.gnu.org/licenses/gpl.html
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 0px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	left: 0px;
	margin:0px;
	padding:100px 0px 20px 0;
	background:url(images/nav-bg.png) no-repeat;
	width:200px;
	height:355px;
	border:0px solid red;
}


#nav li{
	margin: 0 0 0px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#header{
	background: white;
	height: 130px;	
}

#intro{
	background:url(images/backgrounds/home-bg.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 80px 0 0 0;
	width:100%;
}

#intro .bg{
	background: url(images/backgrounds/home-stats.png) 50% 0 no-repeat fixed;
	height: 1000px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 780px;
	z-index: 200;
	margin-left:300px;
}


#second{
	background:url(images/backgrounds/whatwedo-bg.jpg) 50% 0 ;
	color: #fff;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

#second .bg{

	height: 1000px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
}

#third{
	background: url(images/backgrounds/searchanalytics-bg.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;	
}



#fourth {
	background: url(images/backgrounds/digital.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;	
}


#fifth{
	background:url(images/backgrounds/social-bg.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#sixth{
	background:url(images/backgrounds/web.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

#sixth .bg{
	background: url(images/backgrounds/web_stats.png) 50% 0 no-repeat fixed;
	height: 1000px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 1000px;
	z-index: 200;
	margin-left:300px;
}


#seventh {
	background:url(images/backgrounds/credentials-bg.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#eight {
	background:url(images/backgrounds/credentials-bg.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#ninth{
	background:url(images/backgrounds/process-bg.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

#seventh .bg{
	background: url(images/creds.png) 50% 0 no-repeat fixed;
	height: 1000px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
	margin-left:350px;
}


#tenth{
	background:url(images/backgrounds/contact.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

#tenth .bg{
	background: url(images/map.png) 50% 0 no-repeat fixed;
	height: 1000px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
	margin-left:350px;
}


#eleventh {
	background:url(images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

.story{
	float:left;
	min-width: 780px;
	width: 780px;
}

.story .float-left, .story .float-right{
	padding: 150px 0 0 0;
	position: relative;
}

.story .float-right {
	background:url(images/backgrounds/r-bg.png) no-repeat;
	width: 525px;
	padding-left:260px;
}

.story .what{
	float:left;
	position: relative;
	width: 780px;	
}


.story .process{
	float:left;
	position: relative;
	width: 780px;	
	color:#333;
}


.story .title{
	float:left;
	padding: 30px 0 0 0px;
	width: 900px;	
}

.story .bottom{
	float:left;
	padding: 0px 0 0 0px;
	width: 900px;	
}

#getintouch { 
		width:780px;
		display:inline;
		margin:0;
		padding:0;
		font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size-adjust:0.488;
		font-weight:200;
		font-style:normal;
		font-size:14px;
		line-height:18px;
		text-align:justify;
		color:#000;
}

#getintouch p{ 	
		font-weight:800;
		margin:0;
		
}

#getintouch a:link, a:visited {
	text-decoration:none;
	color:#99cc33;
}

#getintouch a:hover, a:active  {
	text-decoration:none;
	color:#669933;
}


#getintouch div.leftside{
		width:300px;
		float:left;
		margin-left:120px;
		
}

#getintouch div.rightside{
		width:360px;
		float:left;
		
}

div.home-heading{
	
	font-weight:bold;
    padding-bottom:8px;
	}
a.homelink {
	text-decoration:underline;
	color:#fff;
}

ul#nav li { padding:6px 0 18px 0; text-align:left; padding-left:20px;}

ul#nav li a {
	color:#fff; text-decoration:none; 
}

ul#nav li#home { width:87px; background:url(images/home-bg.png) no-repeat; font-weight: bold; text-transform:uppercase;  margin-top:30px;}
ul#nav li#home:hover {  width:105px; background:url(images/home-bg-hover.png) no-repeat; font-weight: bold; text-transform:uppercase; }
ul#nav li#what { width:127px; background:url(images/what.png) no-repeat; font-weight: bold; text-transform:uppercase; }
ul#nav li#what:hover { width:150px; background:url(images/what-hover.png) no-repeat; font-weight: bold; text-transform:uppercase;}
ul#nav li#search { width:151px; height:24px;background:url(images/search.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#search:hover { width:161px; height:24px; background:url(images/search-hover.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#digital { width:127px; height:24px; background:url(images/digital.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#digital:hover { width:150px; height:24px; background:url(images/digital-hover.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#social { width:87px; height:24px; background:url(images/social.png) no-repeat; font-size:13px; padding:5px 0 0px 20px; }
ul#nav li#social:hover { width:105px; height:24px; background:url(images/social-hover.png) no-repeat; font-size:13px; padding:5px 0 0px 20px; }
ul#nav li#web { width:165px; height:24px; background:url(images/webdev.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#web:hover { width:180px; height:24px; background:url(images/webdev-hover.png) no-repeat;font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#about { width:127px; background:url(images/about.png) no-repeat; font-weight: bold; text-transform:uppercase;}
ul#nav li#about:hover { width:150px; background:url(images/about-hover.png) no-repeat; }
ul#nav li#creds { width:87px; height: 24px; background:url(images/creds.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;  }
ul#nav li#creds:hover { width:105px; height: 24px; background:url(images/creds-hover.png) no-repeat; font-size:13px; padding:5px 0 0px 20px; }
ul#nav li#process { width:130px; height: 24px; background:url(images/process.png) no-repeat; font-size:13px; padding:5px 0 0px 20px; }
ul#nav li#process:hover { width:150px; height: 24px; background:url(images/process-hover.png) no-repeat; font-size:13px; padding:5px 0 0px 20px; }
ul#nav li#contact { width:127px; height: 24px; background:url(images/intouch.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}
ul#nav li#contact:hover { width:150px; height: 24px; background:url(images/intouch-hover.png) no-repeat; font-size:13px; padding:5px 0 0px 20px;}