/*
CSS for the demo: Recreating the Nikebetterworld.com Parallax Demo
Demo: Recreating the Nikebetterworld.com Parallax Demo
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Demo URL: http://www.ianlunn.co.uk/demos/recreate-nikebetterworld-parallax/
Tutorial URL: http://www.ianlunn.co.uk/blog/code-tutorials/recreate-nikebetterworld-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.

Dual licensed under the MIT and GPL licenses:
http://www.opensource.org/licenses/mit-license.php
http://www.gnu.org/licenses/gpl.html
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 0px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	left: 0px;
	margin:0px;
	padding:20px 0px 20px 0;
	background:url(images/nav-bg.png) no-repeat;
	width:300px;
}

#nav li{
	margin: 0 0 0px 0;	
}

#header, #intro, #second{
	width: 100%;
}

#header{
	background: white;
	height: 130px;	
}

#intro{
	background:url(images/firstBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 160px 0 0 0;
	width:100%;
}


#second{
	background:url(images/secondBG.jpg) 65% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#second .bg{
	background:;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 950px;
	z-index: 200;
}

#third{
	background: url(images/thirdBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;	
}

#fourth {
	background: url(images/secondBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;	
}


#fifth{
	background:url(images/thirdBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#sixth{
	background:url(images/secondBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#seventh {
	background:url(images/thirdBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#eight {
	background:url(images/secondBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#ninth{
	background:url(images/thirdBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}


#tenth{
	background:url(images/secondBG.jpg) 50% 0 fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

#eleventh {
	background:url(images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0;
	padding: 0px 0 0 0;
	width:100%;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 575px;	
}

.story .what{
	float:left;
	padding: 50px 0 0 65px;
	position: relative;
	width: 900px;	
}

ul#nav li { padding:5px 0 20px 0; text-align:left; padding-left:10px;}

ul#nav li a {
	color:#fff; text-decoration:none; 
}

ul#nav li#home { width:87px; background:url(images/home-bg.png) no-repeat; }
ul#nav li#home:hover {  width:105px; background:url(images/home-bg-hover.png) no-repeat; }
ul#nav li#what { width:127px; background:url(images/what.png) no-repeat; }
ul#nav li#what:hover { width:150px; background:url(images/what-hover.png) no-repeat; }
ul#nav li#search { width:165px; background:url(images/search.png) no-repeat; }
ul#nav li#search:hover { width:180px; background:url(images/search-hover.png) no-repeat;}
ul#nav li#digital { width:127px; background:url(images/what.png) no-repeat; }
ul#nav li#digital:hover { width:150px; background:url(images/what-hover.png) no-repeat; }
ul#nav li#social { width:87px; background:url(images/home-bg.png) no-repeat;  }
ul#nav li#social:hover { width:105px; background:url(images/home-bg-hover.png) no-repeat; }
ul#nav li#web { width:165px; background:url(images/search.png) no-repeat; }
ul#nav li#web:hover { width:180px; background:url(images/search-hover.png) no-repeat; }
ul#nav li#about { width:127px; background:url(images/what.png) no-repeat; }
ul#nav li#about:hover { width:150px; background:url(images/what-hover.png) no-repeat; }
ul#nav li#creds { width:87px; background:url(images/home-bg.png) no-repeat;  }
ul#nav li#creds:hover { width:105px; background:url(images/home-bg-hover.png) no-repeat;  }
ul#nav li#process { width:130px; background:url(images/process.png) no-repeat;  }
ul#nav li#process:hover { width:150px; background:url(images/process-hover.png) no-repeat; }
ul#nav li#contact { width:127px; background:url(images/what.png) no-repeat; }
ul#nav li#contact:hover { width:150px; background:url(images/what-hover.png) no-repeat;}