[+as.showForm:is=`1`:then=`
<form [+as.formId+] action="[+as.formAction+]" method="post">
    <div id="ajaxSearch_radio">
  		<input type="radio" id="radio_oneword" name="advSearch" value="[+as.oneword+]" [+as.onewordChecked+] /><label for="radio_oneword">[+as.onewordText+]</label>
  		<input type="radio" id="radio_allwords" name="advSearch" value="[+as.allwords+]" [+as.allwordsChecked+] /><label for="radio_allwords">[+as.allwordsText+]</label>
  		<input type="radio" id="radio_exactphrase" name="advSearch" value="[+as.exactphrase+]" [+as.exactphraseChecked+] /><label for="radio_exactphrase">[+as.exactphraseText+]</label>
  		<input type="radio" id="radio_nowords" name="advSearch" value="[+as.nowords+]" [+as.nowordsChecked+] /><label for="radio_nowords">[+as.nowordsText+]</label>
		</div>
		<fieldset>
    <label for="ajaxSearch_input">
      <input id="ajaxSearch_input" class="cleardefault" type="text" name="search" value="[+as.inputValue+]" [+as.inputOptions+] />
    </label>
    <label for="ajaxSearch_submit">
      <input id="ajaxSearch_submit" type="submit" name="sub" value="[+as.submitText+]" />
    </label>
    </fieldset>
    <div id="ajaxSearch_subSearch">
  		<input type="radio" id="subSearch1" name="subSearch" value="travel,1" [+as.subSearch1Checked+] /><label for="subSearch1">Travel pictures gallery</label>
  		<input type="radio" id="subSearch2" name="subSearch" value="portraits,2" [+as.subSearch2Checked+] /><label for="subSearch2">Portrait picture gallery</label>
  		<input type="radio" id="subSearch3" name="subSearch" value="travelbooks,3" [+as.subSearch3Checked+] /><label for="subSearch3">Travel books</label>
  		<input type="radio" id="subSearch4" name="subSearch" value="unesco,4" [+as.subSearch4Checked+] /><label for="subSearch4">The Unesco courrier</label>
 		</div>
</form>
`+]
[+as.showIntro:is=`1`:then=`
<p class="ajaxSearch_intro" id="ajaxSearch_intro">[+as.introMessage+]</p>
`+]
[+as.showResults:is=`1`:then=`
[+as.results+]
`+]