/* CSS Document */
body { text-align:center;  background-color:#82010D; margin:0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.8em; }
#wrapper { text-align:left; background-image:url(../images/background.gif); background-repeat:repeat-y; width:970px; margin:0px auto; }
#header { background-image:url(../images/header_background.jpg); background-repeat:no-repeat; width:970px; height:162px; }
#logo { margin-left:20px; margin-top: 8px; }
#container { margin:14px;  margin-right:15px; margin-top:0px; }
#contentcontainer { padding:10px;}
#contentleft { float:left; width:610px; }
#contentright { float:left; width:300px; margin-top:-50px; }
.contentinside, .contentinsideleft { padding:10px; padding-top:0px; }
.contentinsideleft { padding-right:15px; }
.contentinside p { padding-left:10px; }
/* Social Media Stuff */
.contentinside ul { margin:0px; padding:0px; list-style:none; margin-bottom:20px; }
.contentinside ul li { font-family:"Myriad Pro"; padding-left:5px; font-size:1.0em; font-weight:bold; color:#BD1F2E; display:block; clear:both; margin-bottom:20px; }
.contentinside ul li img { float:left; }
/* Vide reel*/
#videoreel { margin-left:16px; padding-top:16px; }

#footer { background-image:url(../images/footer_background.gif); background-repeat:no-repeat; height:50px; }

/* Content fo the right bar */
#homevideo { background-image:url(../images/video_background.gif); background-repeat:none; height:189px; width:274px; margin-left:12px;}

/* Twitter on the homepage */
.tweet { border-top: 1px dashed #DDDDDD; padding:10px;  }
.tweet p { font-size:0.9em; margin:0px; }
.twitter_date { font-size:0.8em; color:#666666; }

/* Links */
a, a:visited { color:#BD1F2E;}
a:hover { color:#333333; }

/* Company Links */

#companyfooter a { font-family:Myriad Pro, Arial, Verdana, sans-serif; margin-right:12px; font-size:.90em; color:#BD1F2E; text-decoration:none; }
#companyfooter a:hover { color:#333333; text-decoration:underline; }

/* Headers */
h1, h2, h3 { margin:0px; font-family:"Myriad Pro", Arial, Verdana, sans-serif; color:#BD1F2E; }
h1 { font-size:1.6em; }
h2 { font-size:1.4em; }
h3 { font-size:1.2em; }
h3 { margin-bottom:10px; margin-top:10px; }
h4 { font-size:1em; color:#BD1F2E; margin:0px; }
p { margin-top:0px; line-height:18px; }

/* Lists and the like! */
ul li { line-height:18px; }

/* Images */
img { border:0px; }
.floatright { float:right; margin-left:10px; margin-bottom:20px;}

/* Hacks and fixes, classes */
.clearfix { clear:both; }
.blogreadmore { margin-left:5px; }
.blog { padding-left:10px; border-bottom: 1px dashed #ACACAC; margin-bottom:10px; }
.blog p { padding-left:0px; }
.B_crumbBox { margin-bottom:10px; display:block; }

/*Styling for Contact Form*/
.contact_us { background-color:#FFFFFF; border:1px dashed #ab273e; padding:10px; margin-top:10px; }
.contact_us label { position: absolute; text-align:left; width:130px; } 
.contact_us input, textarea, select { margin-left: 140px; width:200px; }
.contact_us input.button { margin-top:10px; }


