/*--------------------------------------------------*/
/* New Radical Master CSS File - Started 19/10/2009 */
/*--------------------------------------------------*/

* { margin: 0px; padding:0px; }

/*---FOOTER STICK---------------------------------------------*/
/* commented backslash hack v2 \*/ 
html, body{height:100%;} 
.catchphrase { font-size: 36px; font-weight: 900; }

/* end hack */ 
 
html,body {margin:0;padding:0;}
 
* html body {overflow:hidden;padding-bottom:100px}/* for ie only */
#footer { height:100px;/*same height as margin bottom on body*/ /* width: 1000px; */position:fixed; bottom:0; text-align:center; margin:0px auto; background-image: url(assets/templates/radical/images/bkgrnd_footer.png); background-repeat: no-repeat; background-position: top; }
* html #footer {position:absolute}/*for ie*/
#content { position:absolute; overflow:auto; top:0; width:100%; bottom:100px;/* same height as footer */ 
}
* html #content {	height:100%;position:static}/* for ie only*/

#footer { text-align:center; width:1000px; color:#FFFFFF; margin: 0px auto;  background-repeat:no-repeat; z-index:100;  }

/*--------------------------------------------------------------------------------------------------*/

/* MAIN STYLES AND STRUCTURE */

body { margin: 0px 0px; background-color: #fff; text-align:center; color:#990000; font-family:Tahoma, Verdana, Arial, sans-serif; background-image:url(../images/grad_header.png); background-repeat:repeat-x; }
a, img { text-decoration:none; border:none; }
ul { list-style-type:none;}
h1 { font-size: 24px; margin-bottom: 20px; }
h2 { font-size: 18px; font-style: italic; margin-bottom: 10px; }
h3 { font-size: 15px; font-weight:600; margin-bottom: 5px; }

#wrapper { text-align:left; width:1000px; margin: 0px auto; }

/* LEFT CONTAINER AND CONTENTS */
/*-----------------------------*/

#left_container { float: left; width: 70%; }
#window { background-color: #880120; font-family: "Myriad Pro"; font-size: 24px; color: #FFFFFF; text-decoration: blink; height: 250px; text-align: center; }


#maincontent { float:left; margin-bottom:20px; }
#maincontent p { font-size: 14px; font-weight: 600; line-height: 18px; margin-bottom: 10px; }
#blog h4 { margin-top: 10px; margin-bottom: 10px; }

left_container p { font-size: 11px; }

.author { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; }

.tags { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #999999; margin-bottom: 5px; }

#blog .inside p { font-size: 11px; line-height: 16px; color: #990000; }


#portfolio { width: 100%; }
.portfolio_inside { padding: 10px; } 
#blog { width: 100%; }
.blog_inside { padding:10px; }
#social { width: 100%; }
.social_inside { padding:10px; }

/* RIGHT CONTAINER AND CONTENTS */
/*-----------------------------*/

#right_container { float: left; width: 30% }
.inside { padding: 10px; }

#ad_window { height: 250px; width: 300px; background-image: url(../images/bkgrnd_adwindow.png); background-repeat: repeat-x; }
#feed_window { width:100%; }

/* HEADER AND NAVIGATION */

/* Header */
/*--------------------------------------------------------------------------------------------------*/

#header { height:123px; background-image:url(../images/bkgrnd_header.png); background-repeat:repeat-x; background-position:top; padding: 0px 20px; }
#mainlogo { float:left; position:absolute; margin: 10px 20px 0px 20px; z-index: 1000; }
#searchbar, #newsletter { float:right; clear:both;}

/* Primary Nav */
/*--------------------------------------------------------------------------------------------------*/

#navigation_primary { position:absolute; z-index:900; height:29px; float:left; margin: 71px 0px 0px 0px; background-image:url(../images/mainnavsprite.png); background-repeat:no-repeat; background-position: left top; width: 960px; }
#navigation_primary ul { list-style:none; padding:0px; margin:0px; margin-left:209px; }
#navigation_primary li { float:left; display:block; height:29px; }
#navigation_primary a { display:block; height:29px; }

/* Sprite Rollovers */
/*--------------------------------------------------------------------------------------------------*/

.home_hover { width:96px; text-indent: -9999px; }
.home_hover a:hover { background:url(../images/mainnavsprite.png) -209px -29px no-repeat;  }

.what_hover { left:96px; width:138px; }
.what_hover a:hover { background:url(../images/mainnavsprite.png) -304px -29px no-repeat;  }

.who_hover { left:96px; width:128px; }
.who_hover a:hover { background:url(../images/mainnavsprite.png) -445px -29px no-repeat;  }

.contact_hover { left:96px; width:128px; }
.contact_hover a:hover { background:url(../images/mainnavsprite.png) -573px -29px no-repeat;  }
 
/*------------------------------------------------------------------------------------------------*/




.contactinfo {  font-size:13px; font-weight:600; padding-top: 47px;  }
.copyrightlinks { margin:0px; padding:0px; font-size:13px; font-weight:600; margin-top:10px; }



/* Various Classes */

.clear { clear:both; }


.floatright {float:right; margin-left:15px; margin-bottom:10px;}
.floatleft {float:left; margin-right:15px; margin-bottom:10px;}


/*--------------------------------------------------*/
