@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#99b7ec; }
html { padding:0; margin:0;}

a { text-decoration:none;}
a:hover { text-decoration:underline;}
/* main */
.main {width:960px; margin:0 auto; padding:0; min-height:800px;}
/********** header **********/
.header { width:960px; margin:0 auto; padding:0;background: url(images/branding.jpg) top center no-repeat; }

#container { padding-top:250px; width:960px; height:320px; margin:0px 20px;}

#flash { float:left; clear:left; width:600px;}
#cu3er-container { width:600px; outline:0;  padding-bottom:30px; background-image:url(images/shadow.jpg); background-repeat:no-repeat; background-position:bottom center;  }
#calltoaction { float:right; clear:right; width:300px; height:300px; display:inline; margin-right:50px; }

#button {width: 304px; height: 80px;
    background:url(images/applynow_sprite.jpg) 0 0 no-repeat;
    margin: 10px auto; padding: 0;
    position: relative;}

a.sprite:hover {background:url(images/applynow_sprite.jpg) 0 -40 no-repeat;}

